<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <section name="log4net" type="System.Configuration.IgnoreSectionHandler"/>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="AEMManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>

  <log4net>
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="AEMManager.log"/>
      <param name="AppendToFile" value="true"/>
      <param name="MaxSizeRollBackups" value="10"/>
      <param name="MaximumFileSize" value="5MB"/>
      <param name="RollingStyle" value="Size"/>
      <param name="StaticLogFileName" value="false"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date{dd.MM.yyyy HH:mm:ss.fff} *%level* [%thread] %logger %message%newline"/>
      </layout>
    </appender>

    <appender name="EventLogAppender" type="log4net.Appender.EventLogAppender">
      <applicationName value="AEMManager"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date{dd.MM.yyyy HH:mm:ss.fff} *%level* [%thread] %logger %message%newline"/>
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="ERROR"/>
      </filter>
    </appender>

    <root>
      <level value="WARN"/>
      <appender-ref ref="RollingLogFileAppender"/>
      <!--
      <appender-ref ref="EventLogAppender" />
			-->
    </root>

  </log4net>

  <applicationSettings>
    <AEMManager.Properties.Settings>
        <setting name="TrayIconRefreshInterval" serializeAs="String">
            <value>1000</value>
        </setting>
        <setting name="ProcessNameViaShortcut" serializeAs="String">
            <value>True</value>
        </setting>
        <setting name="ReportStatusChangeTimeout" serializeAs="String">
            <value>2000</value>
        </setting>
        <setting name="JProfilerPath" serializeAs="String">
            <value>C:\Programme\jprofiler7\bin\windows</value>
        </setting>
        <setting name="JProfilerAgent" serializeAs="String">
            <value>C:\Programme\jprofiler7\bin\agent.jar</value>
        </setting>
        <setting name="BundleListTimeout" serializeAs="String">
            <value>3000</value>
        </setting>
        <setting name="HttpTimeout" serializeAs="String">
            <value>2000</value>
        </setting>
    </AEMManager.Properties.Settings>
  </applicationSettings>

<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/></startup></configuration>
